.input {
  caret-color: aqua;
}

/* Add some padding to the li and a tag to not make all area clickable*/
li {
  padding: 4px;
}

a {
  padding: 4px;
}

/* Margin collapse is exclusive to Flow layout. It doesn't happen when elements are laid out inside a flexbox parent. */

/* Positioned, Flexbox, and Grid all implement support for z-index. Flow layout does not. */
